{namespace cursoconducir.template.questions}

/**
 * The lessons management template.
 */
{template .content}
  <div class="container">
    <div class="content">
      <div class="page-header page-header-ext">
        <div class="container">
          <div class="row">
            <div class="span10">
              <h1>
                Manage Tests <small>Create new or modify old tests</small>
              </h1>
            </div>
            <div class="span6">
              <div class="pull-right pageButtons"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="container feedback hide"></div>
      <div class="row" id="container"></div>
      <div class="container feedback hide"></div>
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="span10">&nbsp;</div>
            <div class="span6">
              <div class="pull-right pageButtons">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{/template}