#root-spacing,#code-spacing {
	/* Interpreted always as pixels, no matter what unit is specified (i.e. 20em will be converted to 20px) */
	width: 30px;
}

a {
	color: #4183C4;
	text-decoration: none;
}

body {
	font: helvatica, arial, freesans, clean, sans-serif;
}

h2 {
	margin-top: 0;
}

div.topWrapper {
	border-top: 0px;
	border: 1px solid #9aacbf;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E0E0E0),
		color-stop(1.1, #FFFFFF) );
	background-image: -moz-linear-gradient(center bottom, #869E97 0%, #E8EBEB 110%);
}

.code .v-link {
	font-size: 16px;
	font-weight: bold;
}

div.top {
	margin: 0; #
	border: 1px solid #9aacbf; #
	padding: 10px;
}

div.logoPanel {
	cursor: pointer;
}

div.menu {
	-webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 1px 1px;
	background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FCFCFC),
		to(#E8E8E8) );
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#FCFCFC),
		to(#E8E8E8) );
	background-repeat-x: initial;
	background-repeat-y: initial;
	background-attachment: initial;
	background-position-x: initial;
	background-position-y: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	border-bottom-color: whiteSmoke;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border: 1px solid;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E9E9E9;
	border-right-color: #E9E9E9;
	border-left-color: #E9E9E9;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	font-size: 12px;
	font-weight: bold;
	text-shadow: white 1px 1px 0px;
}

a.menu span {
	text-decoration: none;
	vertical-align: middle;
	
	background:
		url(https://d3nwyuy0nl342s.cloudfront.net/images/modules/header/nav-rule.png) no-repeat 0px 50%;
	float: left;
	margin: 0px;
	padding: 0px 11px 0px 13px;
}

div.contentWrapper {
	margin-top: -8px;
	background: #ffffff;
}

div.content {
	margin-top: -8px;
	border-top: 0px;
	background: #fff;
	overflow: hidden;
}

div.m-p-contentArea {
	background-color: #efeee9;
	border-bottom-left-radius: 9px 9px;
	border-bottom-right-radius: 9px 9px;
	border-top-left-radius: 9px 9px;
	border-top-right-radius: 9px 9px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 2px 0px;
}

div.bottomSpace {
	margin-top: -8px;
	border-top: 1px solid #9aacbf;
	border-bottom: 0px;
	background: #d3d2c4;
	overflow: hidden;
	background-image: url("footer_background_80x80.png");
	background-repeat: no-repeat;
	background-position: center;
}

div.cell1,div.cell2,div.cell3 {
	border: 1px solid #aaa;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

div.cell1 {
	background: #a1c4bf;
	color: #3f5e5a;
	border: 5px solid #59a99d;
	margin-top: -30px;
	margin-bottom: 50px;
	margin-right: 10px;
}

div.cell2 {
	background: #5386d3;
	color: #fff;
	padding: 5px;
	border: 2px solid #2b60b0;
	margin-top: 80px;
	margin-bottom: -10px;
	margin-right: 50px;
	margin-left: -30px;
}

/* Alignments for undefined sized components are a bit off currently, 
 * so compensate that with margins
 */
.cell1 .v-label,.cell2 .v-label,.cell3 .v-label {
	margin-top: -8px;
	margin-left: 25px;
}

.cell2 .v-label {
	margin-left: 0;
}

.cell3 .v-label {
	margin-top: -16px;
}