#root-spacing,#code-spacing {
	/* Interpreted always as pixels, no matter what unit is specified (i.e. 20em will be converted to 20px) */
	width: 30px;
}

body {
	font: helvatica, arial, freesans, clean, sans-serif;
}

h2 {
	margin-top: 0;
}

div.topWrapper {
	border-top: 0px;
	border: 1px solid #9aacbf;
}

.code .v-link {
	font-size: 16px;
	font-weight: bold;
}

div.top {
	margin: 0; #
	border: 1px solid #9aacbf; #
	padding: 10px;
}

div.logoPanel {
	cursor: pointer;
}

div.contentWrapper {
	margin-top: -8px;
	background: #ffffff;
}

div.content {
	margin-top: -8px;
	border-top: 0px;
	background: #fff;
	overflow: hidden;
}

div.m-p-contentArea {
	background-color: #efeee9;
	border-bottom-left-radius: 9px 9px;
	border-bottom-right-radius: 9px 9px;
	border-top-left-radius: 9px 9px;
	border-top-right-radius: 9px 9px;
	font: helvatica, arial, freesans, clean, sans-serif;
	-webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px 2px 0px;
}

div.bottomSpace {
	margin-top: -8px;
	border-top: 1px solid #9aacbf;
	border-bottom: 0px;
	background: #d3d2c4;
	overflow: hidden;
	background-image: url("footer_background_80x80.png");
	background-repeat: no-repeat;
	background-position: center;
}

div.cell1,div.cell2,div.cell3 {
	border: 1px solid #aaa;
	margin: 0;
	font-size: 14px;
	font-weight: bold;
}

div.cell1 {
	background: #a1c4bf;
	color: #3f5e5a;
	border: 5px solid #59a99d;
	margin-top: -30px;
	margin-bottom: 50px;
	margin-right: 10px;
}

div.cell2 {
	background: #5386d3;
	color: #fff;
	padding: 5px;
	border: 2px solid #2b60b0;
	margin-top: 80px;
	margin-bottom: -10px;
	margin-right: 50px;
	margin-left: -30px;
}

/* Alignments for undefined sized components are a bit off currently, 
 * so compensate that with margins
 */
.cell1 .v-label,.cell2 .v-label,.cell3 .v-label {
	margin-top: -8px;
	margin-left: 25px;
}

.cell2 .v-label {
	margin-left: 0;
}

.cell3 .v-label {
	margin-top: -16px;
}